/* Defaults */
:root {
	--font-family: 'Libre Franklin', -apple-system, 'Helvetica Neue', sans-serif;
	--font-family-monospace: Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New, Courier, monospace;
}

/* Theme colors */
:root {
	--text-color: #f3f4f6;

	--background-color: #12110C;
	--hover-color: #FDFDF5;

	--header-border-color: #7F7F7F;
	--divider-color: #FFFFFF;
}

@media (prefers-color-scheme: light) {
	:root {
		--text-color: #000000;

		--background-color: #FDFDF5;
		--hover-color: #12110C;

		--header-border-color: #12110C;
		--divider-color: #000000;

		--syntax-tab-size: 2;
	}
}

/* Global stylesheet */
* {
	box-sizing: border-box;
	cursor: none !important;
}

html,
body {
	padding: 0;
	margin: 0 auto;
	max-width: 100vw;
	font-family: var(--font-family);
	color: var(--text-color);
	background-color: var(--background-color);
	font-size: 18px;
}
html {
	overflow-y: scroll;
}
pre {
	overflow: auto;
}
pre[class*="language-"], code[class*="language-"] {
	tab-size: 2;
}

#cursor {
	position: fixed;
	z-index: 999;
	transform: translate(-50%, -50%);
	top: 200%;
	left: 200%;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	pointer-events: none;
	border: 1px solid;
	mix-blend-mode: exclusion;
	background-color: black;
  
	#circle {
	  position: absolute;
	  transform: translate(-50%, -50%);
	  top: 50%;
	  left: 50%;
	  width: 25px;
	  height: 25px;
	  border-radius: 50%;
	  background-color: white;
	}
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

a {
	cursor: pointer;
	color: var(--text-color);
}

a > img {
	width: 50% !important;
}

h1{
	font-size: 1.5rem; /* 32px /16 */
}

h3 {
	margin: 0.5em 0;
	font-size: 1.25rem; /* 20px /16 */
}

p:last-child {
	margin-bottom: 0;
}
p {
	line-height: 1.5;
}

li {
	line-height: 1.5;
}

main {
	margin: 0px auto;
}

.post-container {
	margin: 0px auto;
	width: 90%;
}

.post-container p {
	width: 70%;
	margin: 2rem auto;
}

.post-container p:has(img.vertical-img) {
	width: 50%;
}

.post-container p:has(img) {
	width: 100%;
	margin: 2rem auto 0.5rem auto;
}

.links-nextprev {
	list-style: none;
	border-top: 1px dashed var(--divider-color);
	padding: 1em 0;
}

table {
	margin: 1em 0;
}
table td,
table th {
	padding-right: 1em;
}

pre,
code {
	font-family: var(--font-family-monospace);
}
pre:not([class*="language-"]) {
	margin: .5em 0;
	line-height: 1.375; /* 22px /16 */
	-moz-tab-size: var(--syntax-tab-size);
	-o-tab-size: var(--syntax-tab-size);
	tab-size: var(--syntax-tab-size);
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
}
code {
	word-break: break-all;
}

.jersey-10-regular {
	font-family: "Jersey 10", sans-serif;
	font-weight: 400;
	font-style: normal;
  }

/* Header */
header {
	display: flex;
	position: sticky;
	top: 0;
	gap: 1em 0em;
	flex-wrap: wrap;
	align-items: center;
	padding: 3vh 3vw;
	justify-content: space-between;
	border-bottom: 1px solid var(--header-border-color);
	background-color: var(--background-color);

}
.home-link {
	font-size: 1.75em; /* 16px /16 */
	font-weight: 700;
	margin-right: 2em;
}
.home-link:link:not(:hover) {
	text-decoration: none;
}

/* Nav */
.nav {
	display: flex;
	padding: 0;
	margin: 0;
	list-style: none;
}
.nav-item {
	display: inline-block;
	margin-right: 1em;
}
.nav-item a[href]:not(:hover) {
	text-decoration: none;
}
.nav a[href][aria-current="page"] {
	text-decoration: underline;
}

/* Posts list */
.postlist {
	list-style: none;
	padding: 0;
	margin: 0;
}
.postlist-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 0.5px solid var(--divider-color);
	padding: 5vh 10vw;
	text-decoration: none;
}

.postlist-item:hover {
	background-color: var(--hover-color);
	color: var(--background-color)
}

.postlist-date {
	word-spacing: -0.5px;
}
.postlist-link {
	display: flex;
	flex-direction: column;
	font-size: 1.75em;
	font-weight: 700;
	text-decoration: none;
}
.postlist-item-active .postlist-link {
	font-weight: bold;
}

.postlist-grid {
	list-style: none;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	margin: 0;
	padding: 0;
	border-bottom: 0.5px solid var(--divider-color);
}

.postlist-grid li > .postlist-item {
	display: flex;
	flex-direction: column;
	text-align: center;
	height: 100%;
	border-right: 0.5px solid var(--divider-color);
	border-bottom: 0.5px solid var(--divider-color);
	padding: 1rem;
}

.postlist-grid li:nth-child(3n) > .postlist-item {
	border-right: none;
}

.postlist-image-wrapper {
	height: 200px; /* Adjust this value to your preferred image height */
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	margin-top: 2rem;
}

.postlist-content {
	height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: start;
	padding: 1rem;
	margin-bottom: 5rem;
}

.img-container {
	width: 100%;
	height: auto;
}

/* Tags */
.post-tag {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-transform: capitalize;
	font-style: italic;
}
.postlist-item > .post-tag {
	align-self: center;
}

/* Tags list */
.post-metadata {
	display: flex;
	flex-wrap: wrap;
	gap: .5em;
	list-style: none;
	padding: 0;
	margin: 5vh 0;
	font-size: 0.8rem;
	justify-content: center;
}
.post-metadata time {
	margin-right: 1em;
}

/* Direct Links / Markdown Headers */
.header-anchor {
	text-decoration: none;
	font-style: normal;
	font-size: 1em;
	margin-left: .1em;
}
a[href].header-anchor,
a[href].header-anchor:visited {
	color: transparent;
}
a[href].header-anchor:focus,
:hover > a[href].header-anchor {
	color: #aaa;
}

h2 + .header-anchor {
	font-size: 1.5em;
}

footer {
	padding: 2em 0em;
	width: 90%;
	display: flex;
	justify-content: end;
	gap: 10px
}

@media screen and (max-width: 900px) {
	body{
		max-width: 90%;
	}

	a > img {
		width: 100% !important;
	}

	.post-container p:has(img.vertical-img) {
		width: 90%;
	}

	.postlist {
		display: flex;
		flex-direction: column;
	}

	.postlist-grid {
		display: flex;
		flex-direction: column;
	}

	.postlist-item {
		display: flex;
		flex-direction: column;
		border-bottom: 1px solid var(--divider-color) !important;
		border-right: none !important;

	}
	
	.postlist-content {
		margin-bottom: 2em;
	}

	.post-container p {
		width: 90%;
		margin: 2rem auto;
	}

	#post-data {
		order: 2;
	}

	.postlist-image-wrapper{
		display: none;
	}

}
