---
permalink: /tags/
layout: layouts/home.njk
---
<section style="margin: 5vh 5vw">
	<h1>Categorías</h1>

	<ul>
	{% for tag in collections.all | getAllTags | filterTagList %}
		{% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
		<li><a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a></li>
	{% endfor %}
	</ul>
</section>