{%- css %}.postlist { counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }} }{% endcss %}
<ol reversed class="postlist">
{% for post in postslist | reverse %}
	{% if loop.index0 <= 2 %}
	<li>
		<a href="{{ post.url }}" style="width: 100%;" class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
		{% if not post.data.mainimage %}
			<div id="post-data" class="post-data-no-image">
				<h3 class="postlist-link">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</h3>
				<p style="font-size: 1em; margin-top: 0.2rem;">{{ post.data.description }}</p>
			</div>
		{% elif loop.index0 % 2 == 0 %}
			{% image post.data.mainimage, "", [1000], "", false %}
			<div id="post-data" class="right-post-data">
				<h3 class="postlist-link">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</h3>
				<p style="font-size: 1em; margin-top: 0.2rem;">{{ post.data.description }}</p>
			</div>
		{% else %}
			<div id="post-data" class="left-post-data">
				<h3 class="postlist-link">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</h3>
				<p style="font-size: 1em; margin-top: 0.2rem;">{{ post.data.description }}</p>
			</div>
			{% image post.data.mainimage, "", [1000],  "", false %}
		{% endif %}
		</a>
	</li>
	{% endif %}
{% endfor %}
</ol>
<ol class="postlist-grid">
{% for post in postslist | reverse %}
	{% if loop.index0 >= 3 %}
	<li>
		<a href="{{ post.url }}" style="width: 100%;" class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
			{% if post.data.mainimage %}
				<div class="postlist-image-wrapper">
					{% image post.data.mainimage, "", [300],  "", false %}
				</div>
			{% endif %}
			<div class="postlist-content">
				<h3 class="postlist-link">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</h3>
				<p style="font-size: 1em; margin-top: 0.2rem;">{{ post.data.description }}</p>
			</div>
		</a>
	</li>
	{% endif %}
{% endfor %}
</ol>

