{%- css %}.postlist { counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }} }{% endcss %}
<ol reversed class="postlist">
{% for post in postslist | reverse %}
	{% if loop.index0 < 2 %}
	<li >
		<a href="{{ post.url }}" style="width: 100%;" class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
		{% if loop.index0 == 0 %}
			{% if post.data.mainimage %}
				{% image post.data.mainimage, "", [400] %}
			{% endif %}
			<div>
				<h3 class="postlist-link">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</h3>
				<p style="font-size: 1em; margin-top: 0.2rem;">{{ post.data.description }}</p>
			</div>
		{% else %}
			<div>
				<h3 class="postlist-link">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</h3>
				<p style="font-size: 1em; margin-top: 0.2rem;">{{ post.data.description }}</p>
			</div>
			{% if post.data.mainimage %}
				{% image post.data.mainimage, "", [500] %}
			{% endif %}
		{% endif %}
		</a>
	</li>
	{% endif %}
{% endfor %}
</ol>
